<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Композиция #{{.Basket.BasketID}} - Анализ композиционного центра</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header class="header">
    <div class="header__title">Анализ композиционного центра</div>
    <a href="/artcenters" class="header__home-button">Домой</a>
</header>

<main class="order-page">
    <div class="order-container">

        <!-- Глобальный результат -->
        <div class="global-result-card">
            <h2>Общие координаты центра</h2>
            <p>{{.GlobalResult}}</p>
        </div>

        <!-- Список товаров (корзина) -->
        <section class="basket-grid">
            {{- if .Items }}
                {{- range .Items }}
                <div class="card basket-card">
                    <div class="basket-card__image">
                        <img src="{{.ArtImageURL}}" alt="{{.ArtCenter.Title}}">
                    </div>
                    <div class="basket-card__info">
                        <p>{{.ArtCenter.Title}}</p>
                        <p>X: {{.CenterX}}</p>
                        <p>Y: {{.CenterY}}</p>
                    </div>
                </div>
                {{- end }}
            {{- else }}
                <p>Произведения в этой композиции отсутствуют.</p>
            {{- end }}
        </section>

    </div>
</main>

</body>
</html>
