<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.ArtCenter.Title}} - Анализ композиционного центра</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<header class="header">
    <div class="header__title">Анализ композиционного центра</div>
    <a href="/artcenters" class="header__home-button">Домой</a>
</header>

<main class="artcenter-detail-wrapper">
    <div class="card artcenter-detail-card">
        <div class="card-image">
                <img src="{{.ArtImageURL}}" alt="{{.ArtCenter.Title}}">
        </div>
        <div class="card-content">
                <h2>{{.ArtCenter.Title}}</h2>
                <p><strong>Алгоритм:</strong> {{.ArtCenter.Algorithm}}</p>
                {{if .ArtCenter.ArtDescription}}
                <p>{{.ArtCenter.ArtDescription}}</p>
                {{end}}
        </div>
    </div>
</main>

</body>
</html>
